{% extends "file/layout/base.html" %}

{% block main %}
<div class="row d-flex flex-grow-1 document">
  <div class="col-lg-12 grid-margin stretch-card m-0 flex-column-reverse position-relative">
    <div class="editor-container">
      <div class="editor-toolbar"></div>
      <div class="editor-body position-relative row d-flex flex-grow-1 justify-content-center">
        <div class="editor flex-grow-1"></div>
      </div>
    </div>
    <div class="spinner d-flex justify-content-center p-5 w-100">
      <div class="spinner-border text-dark" role="status">
        <span class="sr-only">Loading...</span>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block foot %}
<script src="/static/lib/sdk-cabinet/document.min.js"></script>
{% include "file/partials/scripts.html" %}
<script src="/static/js/file/document.js"></script>
{% endblock %}
