<nav class="sidebar sidebar-offcanvas" id="sidebar">
  <ul class="nav">
    <li class="nav-item">
      <a class="nav-link" href="/">
        <span class="menu-title">文件列表</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link">
        <span class="menu-title">新建文档</span>
      </a>
      <div>
        <ul class="nav flex-column sub-menu">
          <li class="nav-item"><a class="nav-link" href="#" data-action="create" data-type="document">文档</a></li>
          <li class="nav-item"><a class="nav-link" href="#" data-action="create" data-type="documentPro">专业文档</a>
          </li>
          <li class="nav-item"><a class="nav-link" href="#" data-action="create" data-type="sheet">表格</a></li>
          <li class="nav-item"><a class="nav-link" href="#" data-action="create" data-type="slide">幻灯片</a></li>
        </ul>
      </div>
    </li>
    <li class="nav-item">
      <a class="nav-link">
        <span class="menu-title">导入文档</span>
      </a>
      <div>
        <ul class="nav flex-column sub-menu">
          <li class="nav-item"><a class="nav-link" href="#" data-action="import" data-type="auto">文档 / 表格</a>
          </li>
          <li class="nav-item"><a class="nav-link" href="#" data-action="import" data-type="document-pro">专业文档</a>
          </li>
        </ul>
      </div>
    </li>
  </ul>
</nav>
