html {
  height: 100%;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "PingFang SC", Helvetica, Tahoma, Arial, "Microsoft YaHei", 微软雅黑, 黑体, Heiti, sans-serif, SimSun, 宋体, serif;
  height: 100%;
}

.page-base {
  min-width: 1280px;
}

.cur-pointer {
  cursor: pointer;
}

.editor-container {
  background: #f7f7f7;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  position: relative;
}

.editor, .sm-editor {
  height: 100%;
}

.import-input {
  bottom: 100%;
  opacity: 0;
  position: absolute;
  right: 100%;
  visibility: hidden;
}

/* Custom shimo editor */

.sm-editor {
  /* 确保编辑器符合容器尺寸，底部工具条正常显示 */
  flex: 1;
  height: calc(100vh - 140px);
}

.sm-editor-scroller {
  height: calc(100vh - 106px)!important;
}

.sm-toolbar {
  position: relative;
  z-index: 1;
}

.sm-toolbar::after {
  box-shadow: 0 1px 2px 1px #d9d9d9;
  content: ' ';
  display: block;
  height: 0;
  width: 100%;
}

#shark-toolbar {
  height: 44px;
}

#shark-menubar p {
  font-size: inherit;
  line-height: 2.33333;
}

/* Override MajesticAdmin's style */

.brand-logo-mini {
  max-height: 24px;
  padding: 0!important;
  max-width: 24px;
}

.brand-logo-mini img {
  height: 100%!important;
}

.table-of-content .new-doc-directory.close {
  float: none;
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;
  color: inherit;
  text-shadow: none;
  opacity: inherit;
}

.sidebar .nav.sub-menu .nav-item {
  position: relative;
}

.spinner {
  left: 50%;
  margin-left: -50%;
  position: absolute;
  top: 0;
  z-index: 0;
}

/* For Mobile */
.mobile-view .page-base {
  height: 100vh;
  min-width: auto;
}

.mobile-view .page-body-wrapper {
  flex-direction: column;
}

.mobile-view .sidebar {
  height: initial;
  min-height: initial;
  width: 100%;
}

.mobile-view .sidebar > .nav {
  margin: 0;
}

.mobile-view .sub-menu.nav {
  display: flex;
  flex-direction: row;
  padding: 0;
}

.mobile-view .sub-menu.nav li {
  flex: 1;
  list-style: none;
}

.mobile-view .sub-menu.nav li:before {
  display: none;
}

.mobile-view .main-panel {
  overflow-x: auto;
  width: 100%;
}

.mobile-view .main-panel > .content-wrapper {
  padding: 0;
}

.mobile-view .main-panel > .content-wrapper > div {
  width: 100%;
}

.mobile-view .card-body {
  padding: 0.5rem;
}

.mobile-view .container-scroller {
  height: 100vh;
}

.mobile-view .navbar .navbar-brand-wrapper {
  width: auto;
}

.mobile-view .navbar .navbar-menu-wrapper {
  width: 100%;
}

.mobile-view .navbar .navbar-nav-right {
  display: none!important;
}

.mobile-view .page-body-wrapper {
  height: calc(100vh - 60px);
  min-height: auto;
}

.mobile-view .sm-editor {
  height: calc(100vh - 205px);
}

.mobile-view .document .sm-editor-scroller {
  height: calc(100vh - 60px)!important;
}

.mobile-view .smm-toolbar *:not(img) {
  font-size: 1rem;
}

.mobile-view .smm-toolbar__controls {
  height: auto;
}

.mobile-view .sm-toolbar__control {
  padding: 0.6rem;
}

.mobile-view .sm-toolbar__control img {
  height: 1rem;
  width: 1rem;
}

.mobile-view .smm-comments {
  font-size: 1rem;
}

.mobile-view .smm-comments__count {
  padding: 0 1.66667rem;
}
